
@media only screen and (max-width: 500px){
  header {
  margin: 80px 0 0;
  }
  }
  
  
.container nav {
  width: 100%;
  height: 75px;
  background: #444759;
  border-bottom: 1px solid #ff0000;
  position:relative;
  top: 0;
  left: 0;
  z-index: 999;
}

nav ul {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  transition: all 0.5s ease;
}

nav ul li {
  width: 20%;
  float: left;
  text-align: center;
  padding: 24px 15px;
  cursor: pointer;
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
  position: relative;
}

nav ul li:hover {
  color: #ff001e;
  box-shadow: inset 0 5px #ff001e;
}

/* sub-menu */

nav ul li ul.sub-nav {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 300px;
  background: #444759;
  border-top: 1px solid #3d3f50;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14), -1px 0px 1px rgba(0, 0, 0, 0.14);
  visibility: hidden;
  opacity: 0;
}

nav ul li ul.sub-nav li {
  color: #eee;
  font-size: 14px;
  width: 100%;
  padding: 15px 0;
}

nav ul li ul.sub-nav li:hover {
  color: #ff001e;
  box-shadow: 0 0;
}

nav ul li:hover ul.sub-nav {
  visibility: visible;
  opacity: 1;
}

a:link {
  color:#eee;
  background-color: transparent;
  text-decoration: none;
  font-size: 25px
}


a:visited {
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:#ff001e;
  text-decoration: underline;
}

a:active {
  color: rgb(247, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}