html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8b0000;
  padding: 15px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #000;
  padding: 11px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  position: relative;
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
}

nav a:hover {
  background-color: #8b0000;
}


nav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -10px; 
  background-color: #000;
  padding: 10px; 
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px; 
  min-width: 150px; 
}


nav li:hover .sub-menu {
  display: block;
}


nav .sub-menu li {
  display: block;
  margin: 5px 0; 
}

nav .sub-menu li a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
  color: #fff;
  font-weight: normal;
}

nav .sub-menu li a:hover {
  background-color: #950000; 
  color: yellow; 
}


main {
  padding: 20px;
}

h2 {
  color:#c70000;
  border-bottom: 2px solid #8b0000;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.game {
  position: relative; /* Add position relative to the game container */
  width: 48%;
  margin-bottom: 20px;
  background-color: #444;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.new-label {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c70000;
  color: #fff;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
}

.game img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
}


.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}




.character-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.character {
  width: 45%;
  margin-bottom: 20px;
  background-color: #444;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.character img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

a {
  color: yellow;
  text-decoration: none;
}

a:active {
  color: #c70000;
  text-decoration: none;
}

footer {
  background-color: #8b0000;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 0;
}


#patch-notes {
  margin: 2rem 0;
}

.patch {
  border: 1px solid #c70000;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.patch h3 {
  margin-top: 0;
}

.patch ul {
  margin-top: 0;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
}

.notification {
  display: none;
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.close-notification {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

#dontShowAgain {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#dontShowAgain:hover {
  background-color:  #c70000;
}


 /* Media Queries */
@media only screen and (max-width: 768px) {
  nav {
    text-align: center;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin-bottom: 5px; /* Add spacing between each navigation item */
  }

  nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    background-color: #8b0000;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
  }

  nav a:hover {
    background-color: #950000;
  }

  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #950000;
    padding: 0;
    border-radius: 8px;
    z-index: 1;
  }

  nav li:hover ul {
    display: block;
  }

  nav li ul li {
    display: block;
    margin: 5px 0; /* Add spacing between each item within the dropdown menu */
  }

  nav li ul li a {
    padding: 8px 12px;
    background-color: #c70000;
  }

  .game {
    width: 100%;
  }

  .game img {
    max-height: 120px; /* Adjust image height as needed */
  }

  /* New Styles */
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    padding: 0;
  }
}
