/*https://wallpaperaccess.com/full/3492868.gif'*/

body {
  background-color: #18191A;
  background-image: url(""); 
  background-size: cover;  
  overflow-x: hidden; 
  padding:0;
  margin: 0;
  width: 100vw;
  height: 100vh; 
}

.WebContainer{
  width: 100%;
  height: auto;
}




li {
      font-family:"Brush Script MT", cursive;
      text-align: center;
      color:  rgb(0, 238, 255);
    }
    pre {
      color: rgb(0, 119, 255);
    
    }
    
    pre {
      float: left;
      left: 0;
      padding: 1em;
      position: absolute;
    }
    
    pre {
      text-align: left;
      width: 100%;
      clear: both;
      padding: 1em;
      }
    
    pre {
      font-size: 15px;
    }
    
    pre {
      text-align: center;
    }
    
    pre {
      font-family:"Brush Script MT", cursive;
    }
    
    
    b {
      font-family:"Brush Script MT", cursive;
    }
    
    p {
          color: rgb(0, 238, 255);
      }
    
      p {
        font-size: 20px;
      }
    
      p {
        text-align: center;
      }
    
      p {
        font-family:"Brush Script MT", cursive;
      }
    
      
      h1 {
        font-size: 25px;
      }
    
      h1 {
        color: rgb(0, 255, 179)
      }
    
      h1 {
        text-align: center;
      }
    
      h1 {
        font-family:"Brush Script MT", cursive;
      }
    
    
      h2 {
        font-size: 30px;
      }
    
      h2 {
        color: red;
      }
    
      h2 {
        text-align: center;
      }
    
      h2 {
        font-family:"Brush Script MT", cursive;
      }
    
      h3 {
        color: rgb(255, 0, 255)
      }
    
      h3{ 
        font-size: 25px;
      }
    
      h3 {
        text-align: center;
      }
      
      h4 {
        color: rgb(0, 119, 255);
      }
    
      h4 {
        font-size: 25px;
      }
    
      h4 {
        text-align: center;
      }
    
      h4 { 
        font-family:"Brush Script MT", cursive;
      }
    
      h5 {
        font-size: 25px;
      }
    
      h5 {
        color: rgb(0, 255, 179)
      }

      h6 {
        font-size: 25px;
      }
    
      h6 {
        color: rgb(0, 255, 179)
      }

      h6 { 
        font-family:"Brush Script MT", cursive;
      }

      h6 {
        font-size: 56px;
      }
    
      h7 {
        color: #FF0000;
      }

      h7 { 
        font-family:"Brush Script MT", cursive;
      }
    
      header {
        background-color: #2E303E;
        box-shadow: 0px 0px 5px #fff;
      }


      
      footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        background: #333;
        color:  rgb(0, 119, 255);
      } 
    
      .text {
        color: rgb(255, 0, 0);
      }
    
      .text{
          font-size: 55px;
      }
    
     

          
          div {
            text-align: center;
          }
      
          
      
      /* The alert message box */
      .alert {
        padding: 20px;
        background-color: rgb(0, 119, 255); /* Red */
        color: white;
        margin-bottom: 15px;
      }
      
      /* The close button */
      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      /* When moving the mouse over the close button */
      .closebtn:hover {
        color: black;
      } 

      *, *::after, *::before {
        box-sizing: border-box;
      }

 .preloader {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}

.page-content {
  max-width: 768px;
  margin: 0 auto;
}

/* Style buttons */
.btn {
  background-color: rgb(184, 20, 8);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width:100%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(255, 0, 0);
}


* {
  padding: 0;
  margin: 0;
  font-family: "Brush Script MT", cursive;
  }
  
  

  button {
    background-color: rgb(0, 238, 255);
    color: rgb(0, 0, 0);
  } 

img:hover {
  cursor:pointer;
}

button:hover {
  cursor: pointer;
}



